.blog-spot {
    &.card {

        @include media-breakpoint-only(sm) {
            flex-basis: calc(100% - 30px);
        }

        @include media-breakpoint-only(md) {
            flex-basis: calc(50% - 30px);
        }

        @include media-breakpoint-up(lg) {
            flex-basis: calc(33.3333% - 30px);
            max-width: calc(50% - 30px);
        }

        .blog-author {
            color: #898989;

            &:after {
                content: ':';
            }
        }

        .card {
            &-title {
                &:before {
                    content: '«';
                }
                &:after {
                    content: '»';
                }
            }
            &-text {
                color: #898989;
            }
            &-footer {
                .read-more {
                    font-size: 0.813rem;
                    text-transform: uppercase;
                    text-decoration: underline;
                }
                .in-share-button {
                    color: #0077b5;
    
                    &:hover {
                        text-decoration: none;
                    }
                }
                .fb-share-button {
                    top: -4px;
                }
            }
        }
    }
}