.blog-spot {
    &.card {
        min-width: 15rem;

        .blog-author {
            color: #898989;

            &:after {
                content: ':';
            }
        }

        .card {
            &-title {
                &:before {
                    content: '«';
                }
                &:after {
                    content: '»';
                }
            }
            &-text {
                color: #898989;
            }
            &-footer {
                .read-more {
                    font-size: 0.813rem;
                    text-transform: uppercase;
                    text-decoration: underline;
                }
                .in-share-button {
                    color: #0077b5;
    
                    &:hover {
                        text-decoration: none;
                    }
                }
                .fb-share-button {
                    top: -4px;
                }
            }
        }
    }
}