{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

  {% include "partials/section.html" %}

  <div class="fw-container-fluid">
    <div class="fw-row">
      <div class="col-md-12">
        {% set parameters = {
          'loop': 1,
          'slides': 4,
          'space': 0,
          'navigation': 1,
          'pagination': 1,
          'scrollbar': 1,
          'delay': 2
        } %}
        {% include "partials/carousel.html" %}
      </div>
    </div>
  </div>


  <div class="fw-container">
    <div class="fw-row">
      <div class="col-md-12">
        {% set parameters = {
          'loop': 0,
          'slides': 3,
          'space': 30,
          'navigation': 1,
          'pagination': 0,
          'scrollbar': 0,
          'delay': 0
        } %}
        {% include "partials/carousel.html" %}
      </div>
    </div>
  </div>


  <!-- <h1 data-module="example">{{ message }}</h1> -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}
