<section class="fw-main-row position-relative   mt-4 " style=" ">


    <div class="fw-container">
        <div class="fw-row">
            <div class="fw-col-xs-12">
                <div class="fw-heading fw-heading-h3 fw-heading-center ">
                    <h3 class="fw-special-title">Бізнес література</h3>
                </div>
            </div>
        </div>

        <div class="fw-row">
            <div class="fw-col-xs-12">
                <label>
                    <input class="list-short__helper" type="checkbox">
                    <ol class="list-short" data-module="list-short">
                        <li>Книга зі словами - Автор Книги</li>
                        <li>Цікаве джерело - Автор</li>
                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                        <li>Aliquam tincidunt mauris eu risus.</li>
                        <li>Vestibulum auctor dapibus neque.</li>
                        <li>Nunc dignissim risus id metus.</li>
                        <li>Cras ornare tristique elit.</li>
                        <li>Vivamus vestibulum ntulla nec ante.</li>
                        <li>Praesent placerat risus quis eros.</li>
                        <li>Fusce pellentesque suscipit nibh.</li>
                        <li>Integer vitae libero ac risus egestas placerat.</li>
                        <li>Vestibulum commodo felis quis tortor.</li>
                        <li>Ut aliquam sollicitudin leo.</li>
                        <li>Cras iaculis ultricies nulla.</li>
                        <li>Donec quis dui at dolor tempor interdum.</li>
                    </ol>
                    <span class="fa fa-angle-double-down"></span>
                </label>
            </div>
        </div>

    </div>
</section>