.main-nav {
    @extend .bg-secondary;

    will-change: background-color;
    transition: background-color .3s ease;

    .navbar-brand img {
        will-change: width;
        transition: width .25s ease;
    }

    &.bg-transparent {
        .navbar-brand img {
            width: 12rem;
        }
    }

    &.bg-secondary {
        .navbar-brand img {
            width: 7rem;
        }
    }

    .dropdown-menu {
        @include media-breakpoint-down(md) {
            background-color: transparent;
            padding-left: 1rem;
        }
        @include media-breakpoint-up(md) {
            .nav-item.active > .nav-link {
                color: $secondary;
            }
        }
    }
}