.main-nav {
    @extend .bg-secondary;

    will-change: background-color;
    transition: background-color .3s ease;

    .navbar-brand img {
        will-change: width;
        transition: width .25s ease;
    }

    &.bg-transparent {
        .navbar-brand img {
            width: 8rem;
        }
    }

    &.bg-secondary {
        .navbar-brand img {
            width: 6rem;
        }
    }

    .navbar-nav {
        @include media-breakpoint-down(md) {
            flex-flow: row wrap;
        }
    }

    .nav-item {
        text-transform: uppercase;

        &.lang {
            @include media-breakpoint-down(lg) {
                flex-basis: auto;
            }

            & + .lang {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 25%;
                    bottom: 25%;
                    left: 0;
                    width: 1px;
                    background-color: $white;
                }
            }

            .nav-link {
                padding-left: .2rem;
                padding-right: .2rem;
            }
        }

        &:not(.lang) {
            @include media-breakpoint-down(md) {
                flex-basis: 100%;
            }

            .nav-link {
                @include media-breakpoint-up(lg) {
                    padding-left: 1.2rem;
                    padding-right: 1.2rem;
                }
            }
        }
    }

    .dropdown-toggle > .fa {
        color: $primary;
    }

    .dropdown-menu {
        @include media-breakpoint-down(md) {
            background-color: transparent;
            padding-left: 1rem;
        }
        @include media-breakpoint-up(lg) {
            .nav-item {
                &.active > .nav-link {
                    color: $secondary;
                }
            }
        }
    }
}