@keyframes anim {
    0% {
        display: none;
    }
    1% {
        display: list-item;
        visibility: visible;
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
}

.list-short {
    $min-length: 5;
    $max-length: 15;
    $anim-delay: .03s;

    overflow-x: hidden;

    &._long > li:nth-child(n+#{$min-length}),
    &__helper {
        display: none;
    }

    &__helper + &._long {
        &:after {
            content: '\f103';
            font-family: FontAwesome;
            position: relative;
            display: inline-block;
            transform: rotate(0) translate3d(-50%, 0, 0);
            will-change: transform;
            transition: transform .35s ease;
            left: 50%;
            font-size: 1.5rem;
            color: $primary;
        }
    }

    &__helper:checked + &._long {

        & > li:nth-child(n+#{$min-length}) {
            display: list-item;
            visibility: hidden;
            animation: anim .3s ease-in-out;
            animation-fill-mode: forwards;
        }

        @for $i from 1 to $max-length {
            & > li:nth-child(#{$min-length+$i}) {
                animation-delay: $i * $anim-delay;
            }
        }

        & > li:nth-child(n+#{$min-length+$max-length}) {
            animation-delay: #{$min-length+$max-length} * $anim-delay;
        }

        &:after {
            transform: rotate(180deg) translate3d(-50%, 0, 0);
        }
    }
}
