.fw-container-fluid {
    @extend .container-fluid;

    .swiper-container,
    .swiper-navigation {
        margin-left: -15px;
        margin-right: -15px;
    }

    .swiper-element {
        .swiper-navigation {
            .swiper-button {
                &-prev,
                &-next {
                    top: 0;
                    height: 100%;
                    margin-top: 0;
                    background-color: rgba($black, .77);
                    opacity: 0;
                    will-change: opacity;
                    transition: opacity .25s ease;
                }
                &-prev {
                    left: -15px;
                }
                &-next {
                    right: -15px;
                }
            }
        }

        &:hover {
            .swiper-navigation {
                .swiper-button {
                    &-prev,
                    &-next {
                        opacity: 1;
                    }
                }
            }
        }
    }

    
}

.fw-container {
    @extend .container;

    .swiper-navigation {
        @include media-breakpoint-up(md) {
            .swiper-button {
                &-prev {
                    left: -2.5rem;
                }
                &-next {
                    right: -2.5rem;
                }
            }
        }
    }
}
.fw-row {
    @extend .row;
}
.fw-col-xs-12 {
    @extend .col-12;
}
.fw-col-sm-3 {
    @extend .col-sm-3;
}
.fw-col-sm-4 {
    @extend .col-sm-4;
}
.fw-col-sm-6 {
    @extend .col-sm-6;
}
.fw-col-sm-8 {
    @extend .col-sm-8;
}
.fw-col-sm-9 {
    @extend .col-sm-9;
}
.fw-col-sm-12 {
    @extend .col-sm-12;
}
.fw-col-sm-15 {
    @extend .col;
    @include make-col(1, 5);
}